#IMG_1 {
    color: rgb(192, 192, 192);
    height: 256px;
    width: 455px;
    perspective-origin: 227.5px 128px;
    transform-origin: 227.5px 128px;
    border: 0px none rgb(192, 192, 192);
    font: normal normal normal normal 16px/16px adobe-garamond-pro-1, adobe-garamond-pro-2, Georgia, 'Times New Roman', Times, serif;
    outline: rgb(192, 192, 192) none 0px;
}/*#IMG_1*/

#IMG_1 {
    color: rgb(192, 192, 192);
    height: 256px;
    width: 455px;
    perspective-origin: 227.5px 128px;
    transform-origin: 227.5px 128px;
    border: 0px none rgb(192, 192, 192);
    font: normal normal normal normal 16px/16px adobe-garamond-pro-1, adobe-garamond-pro-2, Georgia, 'Times New Roman', Times, serif;
    outline: rgb(192, 192, 192) none 0px;
}/*#IMG_1*/

