.lst-kix_dehh6ki7w5li-6>
	li:before{content:"\0025cf  "}

.lst-kix_7o2clnpfj8c1-0>
	li:before{content:"\0025cf  "}

.lst-kix_530ene8gktm6-1>
	li:before{content:"\0025cb  "}
	ol.lst-kix_f7ll9gcdttpm-6.start{counter-reset:lst-ctn-kix_f7ll9gcdttpm-6 0}

.lst-kix_lof9q1nej06b-6>
	li:before{content:"-  "}

.lst-kix_f7ll9gcdttpm-0>
	li{counter-increment:lst-ctn-kix_f7ll9gcdttpm-0}

.lst-kix_eff9o5ael915-1>
	li:before{content:"\0025cb  "}

.lst-kix_f7ll9gcdttpm-6>
	li:before{content:"" counter(lst-ctn-kix_f7ll9gcdttpm-6,decimal) ". "}
	ol.lst-kix_f7ll9gcdttpm-3.start{counter-reset:lst-ctn-kix_f7ll9gcdttpm-3 0}

.lst-kix_f7ll9gcdttpm-4>
	li:before{content:"" counter(lst-ctn-kix_f7ll9gcdttpm-4,lower-latin) ". "}

.lst-kix_olqylg2ibcs4-5>
	li:before{content:"\0025a0  "}

.lst-kix_dehh6ki7w5li-8>
	li:before{content:"\0025a0  "}

.lst-kix_530ene8gktm6-5>
	li:before{content:"\0025a0  "}

.lst-kix_lof9q1nej06b-2>
	li:before{content:"-  "}

.lst-kix_ojg9ftqa84hq-7>
	li:before{content:"-  "}
	ul.lst-kix_xkoyxec8xr3h-0{list-style-type:none}
	ul.lst-kix_xkoyxec8xr3h-1{list-style-type:none}
	ul.lst-kix_xkoyxec8xr3h-2{list-style-type:none}

.lst-kix_eff9o5ael915-8>
	li:before{content:"\0025a0  "}
	ul.lst-kix_xkoyxec8xr3h-4{list-style-type:none}
	ul.lst-kix_xkoyxec8xr3h-3{list-style-type:none}
	ul.lst-kix_xkoyxec8xr3h-6{list-style-type:none}
	ul.lst-kix_xkoyxec8xr3h-5{list-style-type:none}
	ul.lst-kix_xkoyxec8xr3h-8{list-style-type:none}

.lst-kix_ojg9ftqa84hq-6>
	li:before{content:"-  "}
	ul.lst-kix_xkoyxec8xr3h-7{list-style-type:none}

.lst-kix_xkoyxec8xr3h-7>
	li:before{content:"\0025cb  "}

.lst-kix_olqylg2ibcs4-8>
	li:before{content:"\0025a0  "}
	ol.lst-kix_f7ll9gcdttpm-4.start{counter-reset:lst-ctn-kix_f7ll9gcdttpm-4 0}

.lst-kix_7o2clnpfj8c1-3>
	li:before{content:"\0025cf  "}

.lst-kix_530ene8gktm6-6>
	li:before{content:"\0025cf  "}

.lst-kix_7o2clnpfj8c1-7>
	li:before{content:"\0025cb  "}
	ul.lst-kix_ojg9ftqa84hq-0{list-style-type:none}

.lst-kix_f7ll9gcdttpm-7>
	li:before{content:"" counter(lst-ctn-kix_f7ll9gcdttpm-7,lower-latin) ". "}

.lst-kix_530ene8gktm6-0>
	li:before{content:"\0025cf  "}
	ul.lst-kix_ojg9ftqa84hq-2{list-style-type:none}
	ul.lst-kix_ojg9ftqa84hq-1{list-style-type:none}
	ul.lst-kix_ojg9ftqa84hq-4{list-style-type:none}
	ul.lst-kix_ojg9ftqa84hq-3{list-style-type:none}
	ul.lst-kix_ojg9ftqa84hq-6{list-style-type:none}
	ul.lst-kix_ojg9ftqa84hq-5{list-style-type:none}
	ul.lst-kix_ojg9ftqa84hq-8{list-style-type:none}
	ul.lst-kix_ojg9ftqa84hq-7{list-style-type:none}

.lst-kix_eff9o5ael915-2>
	li:before{content:"\0025a0  "}

.lst-kix_p3f4ronxjc8i-1>
	li:before{content:"\0025cb  "}

.lst-kix_f7ll9gcdttpm-5>
	li:before{content:"" counter(lst-ctn-kix_f7ll9gcdttpm-5,lower-roman) ". "}

.lst-kix_xkoyxec8xr3h-3>
	li:before{content:"\0025cf  "}

.lst-kix_p3f4ronxjc8i-4>
	li:before{content:"\0025cb  "}

.lst-kix_530ene8gktm6-4>
	li:before{content:"\0025cb  "}

.lst-kix_olqylg2ibcs4-3>
	li:before{content:"\0025cf  "}

.lst-kix_olqylg2ibcs4-0>
	li:before{content:"\0025a0  "}

.lst-kix_f7ll9gcdttpm-7>
	li{counter-increment:lst-ctn-kix_f7ll9gcdttpm-7}

.lst-kix_dehh6ki7w5li-7>
	li:before{content:"\0025cb  "}

.lst-kix_xkoyxec8xr3h-0>
	li:before{content:"\0025cf  "}

.lst-kix_p3f4ronxjc8i-8>
	li:before{content:"\0025a0  "}

.lst-kix_f7ll9gcdttpm-3>
	li{counter-increment:lst-ctn-kix_f7ll9gcdttpm-3}
	ul.lst-kix_lof9q1nej06b-4{list-style-type:none}

.lst-kix_ojg9ftqa84hq-4>
	li:before{content:"-  "}
	ul.lst-kix_lof9q1nej06b-5{list-style-type:none}
	ul.lst-kix_lof9q1nej06b-2{list-style-type:none}
	ul.lst-kix_lof9q1nej06b-3{list-style-type:none}
	ul.lst-kix_lof9q1nej06b-8{list-style-type:none}
	ol.lst-kix_f7ll9gcdttpm-5.start{counter-reset:lst-ctn-kix_f7ll9gcdttpm-5 0}
	ul.lst-kix_lof9q1nej06b-6{list-style-type:none}
	ul.lst-kix_lof9q1nej06b-7{list-style-type:none}

.lst-kix_f7ll9gcdttpm-8>
	li{counter-increment:lst-ctn-kix_f7ll9gcdttpm-8}

.lst-kix_dehh6ki7w5li-5>
	li:before{content:"\0025a0  "}

.lst-kix_f7ll9gcdttpm-1>
	li{counter-increment:lst-ctn-kix_f7ll9gcdttpm-1}

.lst-kix_ojg9ftqa84hq-1>
	li:before{content:"-  "}

.lst-kix_ojg9ftqa84hq-8>
	li:before{content:"-  "}

.lst-kix_eff9o5ael915-4>
	li:before{content:"\0025cb  "}

.lst-kix_lof9q1nej06b-1>
	li:before{content:"-  "}

.lst-kix_p3f4ronxjc8i-2>
	li:before{content:"\0025a0  "}
	ul.lst-kix_7o2clnpfj8c1-5{list-style-type:none}
	ul.lst-kix_7o2clnpfj8c1-4{list-style-type:none}
	ul.lst-kix_7o2clnpfj8c1-7{list-style-type:none}
	ul.lst-kix_7o2clnpfj8c1-6{list-style-type:none}
	ul.lst-kix_7o2clnpfj8c1-8{list-style-type:none}
	ul.lst-kix_7o2clnpfj8c1-2{list-style-type:none}
	ul.lst-kix_7o2clnpfj8c1-3{list-style-type:none}

.lst-kix_f7ll9gcdttpm-1>
	li:before{content:"" counter(lst-ctn-kix_f7ll9gcdttpm-1,lower-latin) ". "}
	ul.lst-kix_7o2clnpfj8c1-0{list-style-type:none}
	ul.lst-kix_7o2clnpfj8c1-1{list-style-type:none}

.lst-kix_lof9q1nej06b-7>
	li:before{content:"-  "}

.lst-kix_ojg9ftqa84hq-0>
	li:before{content:"-  "}

.lst-kix_p3f4ronxjc8i-0>
	li:before{content:"\0025cf  "}
	ul.lst-kix_p3f4ronxjc8i-2{list-style-type:none}
	ul.lst-kix_p3f4ronxjc8i-1{list-style-type:none}

.lst-kix_7o2clnpfj8c1-6>
	li:before{content:"\0025cf  "}

.lst-kix_eff9o5ael915-5>
	li:before{content:"\0025a0  "}
	ul.lst-kix_p3f4ronxjc8i-0{list-style-type:none}
	ul.lst-kix_p3f4ronxjc8i-6{list-style-type:none}
	ul.lst-kix_p3f4ronxjc8i-5{list-style-type:none}
	ul.lst-kix_p3f4ronxjc8i-4{list-style-type:none}
	ul.lst-kix_p3f4ronxjc8i-3{list-style-type:none}
	ul.lst-kix_p3f4ronxjc8i-8{list-style-type:none}
	ul.lst-kix_p3f4ronxjc8i-7{list-style-type:none}

.lst-kix_f7ll9gcdttpm-0>
	li:before{content:"" counter(lst-ctn-kix_f7ll9gcdttpm-0,decimal) ". "}

.lst-kix_f7ll9gcdttpm-3>
	li:before{content:"" counter(lst-ctn-kix_f7ll9gcdttpm-3,decimal) ". "}

.lst-kix_7o2clnpfj8c1-2>
	li:before{content:"\0025a0  "}

.lst-kix_p3f4ronxjc8i-7>
	li:before{content:"\0025cb  "}
	ul.lst-kix_dehh6ki7w5li-0{list-style-type:none}
	ul.lst-kix_dehh6ki7w5li-1{list-style-type:none}

.lst-kix_f7ll9gcdttpm-6>
	li{counter-increment:lst-ctn-kix_f7ll9gcdttpm-6}

.lst-kix_eff9o5ael915-6>
	li:before{content:"\0025cf  "}

.lst-kix_530ene8gktm6-8>
	li:before{content:"\0025a0  "}

.lst-kix_f7ll9gcdttpm-8>
	li:before{content:"" counter(lst-ctn-kix_f7ll9gcdttpm-8,lower-roman) ". "}

.lst-kix_dehh6ki7w5li-2>
	li:before{content:"\0025a0  "}
	ul.lst-kix_eff9o5ael915-8{list-style-type:none}
	ul.lst-kix_eff9o5ael915-7{list-style-type:none}
	ul.lst-kix_eff9o5ael915-6{list-style-type:none}
	ul.lst-kix_eff9o5ael915-5{list-style-type:none}
	ul.lst-kix_eff9o5ael915-4{list-style-type:none}
	ul.lst-kix_eff9o5ael915-3{list-style-type:none}
	ul.lst-kix_eff9o5ael915-2{list-style-type:none}

.lst-kix_lof9q1nej06b-4>
	li:before{content:"-  "}

.lst-kix_p3f4ronxjc8i-5>
	li:before{content:"\0025a0  "}
	ol.lst-kix_f7ll9gcdttpm-1.start{counter-reset:lst-ctn-kix_f7ll9gcdttpm-1 0}
	ol.lst-kix_f7ll9gcdttpm-2.start{counter-reset:lst-ctn-kix_f7ll9gcdttpm-2 0}

.lst-kix_530ene8gktm6-3>
	li:before{content:"\0025cf  "}
	ul.lst-kix_olqylg2ibcs4-5{list-style-type:none}
	ul.lst-kix_dehh6ki7w5li-3{list-style-type:none}
	ul.lst-kix_olqylg2ibcs4-4{list-style-type:none}
	ul.lst-kix_dehh6ki7w5li-2{list-style-type:none}
	ul.lst-kix_olqylg2ibcs4-7{list-style-type:none}
	ul.lst-kix_dehh6ki7w5li-5{list-style-type:none}
	ul.lst-kix_olqylg2ibcs4-6{list-style-type:none}
	ul.lst-kix_dehh6ki7w5li-4{list-style-type:none}
	ul.lst-kix_olqylg2ibcs4-1{list-style-type:none}

.lst-kix_dehh6ki7w5li-0>
	li:before{content:"\0025cf  "}
	ul.lst-kix_dehh6ki7w5li-7{list-style-type:none}
	ul.lst-kix_olqylg2ibcs4-0{list-style-type:none}
	ul.lst-kix_dehh6ki7w5li-6{list-style-type:none}

.lst-kix_olqylg2ibcs4-6>
	li:before{content:"\0025cf  "
	}ul.lst-kix_olqylg2ibcs4-3{list-style-type:none}
	ul.lst-kix_olqylg2ibcs4-2{list-style-type:none}
	ul.lst-kix_dehh6ki7w5li-8{list-style-type:none}

.lst-kix_xkoyxec8xr3h-8>
	li:before{content:"\0025a0  "}
	ul.lst-kix_eff9o5ael915-0{list-style-type:none}
	ul.lst-kix_eff9o5ael915-1{list-style-type:none}

.lst-kix_7o2clnpfj8c1-8>
	li:before{content:"\0025a0  "}
	ul.lst-kix_lof9q1nej06b-0{list-style-type:none}
	ul.lst-kix_lof9q1nej06b-1{list-style-type:none}
	ul.lst-kix_530ene8gktm6-3{list-style-type:none}

.lst-kix_xkoyxec8xr3h-6>
	li:before{content:"\0025cf  "}
	ul.lst-kix_530ene8gktm6-2{list-style-type:none}
	ul.lst-kix_530ene8gktm6-5{list-style-type:none}
	ul.lst-kix_olqylg2ibcs4-8{list-style-type:none}
	ul.lst-kix_530ene8gktm6-4{list-style-type:none}
	ul.lst-kix_530ene8gktm6-1{list-style-type:none}
	ul.lst-kix_530ene8gktm6-0{list-style-type:none}
	ul.lst-kix_530ene8gktm6-6{list-style-type:none}
	ul.lst-kix_530ene8gktm6-7{list-style-type:none}
	ul.lst-kix_530ene8gktm6-8{list-style-type:none}

.lst-kix_dehh6ki7w5li-3>
	li:before{content:"\0025cf  "}

.lst-kix_lof9q1nej06b-8>
	li:before{content:"-  "}

.lst-kix_xkoyxec8xr3h-2>
	li:before{content:"\0025a0  "}

.lst-kix_f7ll9gcdttpm-5>
	li{counter-increment:lst-ctn-kix_f7ll9gcdttpm-5}

.lst-kix_lof9q1nej06b-5>
	li:before{content:"-  "}
	ol.lst-kix_f7ll9gcdttpm-6{list-style-type:none}

.lst-kix_eff9o5ael915-0>
	li:before{content:"\0025cf  "}
	ol.lst-kix_f7ll9gcdttpm-7{list-style-type:none}
	ol.lst-kix_f7ll9gcdttpm-8{list-style-type:none}

.lst-kix_f7ll9gcdttpm-2>
	li{counter-increment:lst-ctn-kix_f7ll9gcdttpm-2}
	ol.lst-kix_f7ll9gcdttpm-2{list-style-type:none}
	ol.lst-kix_f7ll9gcdttpm-3{list-style-type:none}
	ol.lst-kix_f7ll9gcdttpm-4{list-style-type:none}
	ol.lst-kix_f7ll9gcdttpm-5{list-style-type:none}

.lst-kix_lof9q1nej06b-3>
	li:before{content:"-  "}
	ol.lst-kix_f7ll9gcdttpm-0{list-style-type:none}
	ol.lst-kix_f7ll9gcdttpm-1{list-style-type:none}
	ol.lst-kix_f7ll9gcdttpm-7.start{counter-reset:lst-ctn-kix_f7ll9gcdttpm-7 0}

.lst-kix_ojg9ftqa84hq-2>
	li:before{content:"-  "}

.lst-kix_p3f4ronxjc8i-6>
	li:before{content:"\0025cf  "}

.lst-kix_olqylg2ibcs4-4>
	li:before{content:"\0025cb  "}

.lst-kix_7o2clnpfj8c1-4>
	li:before{content:"\0025cb  "}

.lst-kix_olqylg2ibcs4-2>
	li:before{content:"\0025a0  "}
	ol.lst-kix_f7ll9gcdttpm-8.start{counter-reset:lst-ctn-kix_f7ll9gcdttpm-8 0}

.lst-kix_dehh6ki7w5li-1>
	li:before{content:"\0025cb  "}

.lst-kix_ojg9ftqa84hq-3>
	li:before{content:"-  "}

.lst-kix_xkoyxec8xr3h-4>
	li:before{content:"\0025cb  "}

.lst-kix_ojg9ftqa84hq-5>
	li:before{content:"-  "}

.lst-kix_7o2clnpfj8c1-5>
	li:before{content:"\0025a0  "}

.lst-kix_xkoyxec8xr3h-1>
	li:before{content:"\0025cb  "}

.lst-kix_xkoyxec8xr3h-5>
	li:before{content:"\0025a0  "}

.lst-kix_eff9o5ael915-3>
	li:before{content:"\0025cf  "}

.lst-kix_p3f4ronxjc8i-3>
	li:before{content:"\0025cf  "}

.lst-kix_eff9o5ael915-7>
	li:before{content:"\0025cb  "}

.lst-kix_f7ll9gcdttpm-2>
	li:before{content:"" counter(lst-ctn-kix_f7ll9gcdttpm-2,lower-roman) ". "}

.lst-kix_olqylg2ibcs4-1>
	li:before{content:"\0025cb  "}

.lst-kix_lof9q1nej06b-0>
	li:before{content:"-  "}

.lst-kix_7o2clnpfj8c1-1>
	li:before{content:"\0025cb  "}

.lst-kix_f7ll9gcdttpm-4>
	li{counter-increment:lst-ctn-kix_f7ll9gcdttpm-4}

.lst-kix_olqylg2ibcs4-7>
	li:before{content:"\0025cb  "}

.lst-kix_530ene8gktm6-7>
	li:before{content:"\0025cb  "}

.lst-kix_dehh6ki7w5li-4>
	li:before{content:"\0025cb  "}

.lst-kix_530ene8gktm6-2>
	li:before{content:"\0025a0  "}
	ol.lst-kix_f7ll9gcdttpm-0.start{counter-reset:lst-ctn-kix_f7ll9gcdttpm-0 0}
	ol{margin:0;padding:0}

	.c15{line-height:1.7757976849873836;widows:2;orphans:2;direction:ltr}
	.c1{line-height:1.15;widows:2;orphans:2;direction:ltr}
	.c7{color:#FFFFFF;font-size:10pt;text-decoration:underline}
	.c16{widows:2;orphans:2;direction:ltr}
	.c18{color:#FFFFFF;font-size:13pt}
	.c8{padding-left:0pt;margin-left:51pt}
	.c2{color:#f47d3a;font-size:9pt}
	.c10{color:#FFFFFF;font-size:10pt}
	.c11{padding-left:0pt;margin-left:36pt}
	.c17{}
	.c14{margin:0;padding:0}
	.c0{color:#FFFFFF;font-size:9pt}
	.c4{color:inherit;text-decoration:inherit}
	.c6{color:#FFFFFF;font-size:12pt}
	.c12{font-size:9pt}
	.c13{font-style:italic}
	.c5{font-weight:bold}
	.c19{color:#bb0d31}
	.c3{height:11pt}
	.c9 p {margin-left: 20px;}
	.c20{margin-top:70px;}
	.c21{color:#00FFFF;}

	.title{
		widows:2;
		padding-top:0pt;
		line-height:1.15;
		orphans:2;
		text-align:left;
		color:#000000;
		font-size:21pt;
		font-family:"Trebuchet MS";
		padding-bottom:0pt;
		page-break-after:avoid
	}

	.subtitle{
		widows:2;
		padding-top:0pt;
		line-height:1.15;
		orphans:2;
		text-align:left;
		color:#666666;
		font-style:italic;
		font-size:13pt;
		font-family:"Trebuchet MS";
		padding-bottom:10pt;
		page-break-after:avoid}

		li{color:#000000;font-size:11pt;font-family:"Arial"}
		p{color:#000000;font-size:11pt;margin:0;font-family:"Arial"}

		h1{
			widows:2;
			padding-top:10pt;
			line-height:1.15;
			orphans:2;
			text-align:left;
			color:#000000;
			font-size:16pt;
			font-family:"Trebuchet MS";
			padding-bottom:0pt;
			page-break-after:avoid
		}

		h2{
			widows:2;
			padding-top:10pt;
			line-height:1.15;
			orphans:2;
			text-align:left;
			color:#000000;
			font-size:13pt;
			font-family:"Trebuchet MS";
			font-weight:bold;
			padding-bottom:0pt;
			page-break-after:avoid
		}

		h3{
			widows:2;
			padding-top:8pt;
			line-height:1.15;
			orphans:2;
			text-align:left;
			color:#666666;
			font-size:12pt;
			font-family:"Trebuchet MS";
			font-weight:bold;
			padding-bottom:0pt;
			page-break-after:avoid
		}

		h4{
			widows:2;
			padding-top:8pt;
			line-height:1.15;
			orphans:2;
			text-align:left;
			color:#666666;
			font-size:11pt;
			text-decoration:underline;
			font-family:"Trebuchet MS";
			padding-bottom:0pt;
			page-break-after:avoid
		}

		h5{
			widows:2;
			padding-top:8pt;
			line-height:1.15;
			orphans:2;
			text-align:left;
			color:#666666;
			font-size:11pt;
			font-family:"Trebuchet MS";
			padding-bottom:0pt;
			page-break-after:avoid
		}

		h6{
			widows:2;
			padding-top:8pt;
			line-height:1.15;
			orphans:2;
			text-align:left;
			color:#666666;
			font-style:italic;
			font-size:11pt;
			font-family:"Trebuchet MS";
			padding-bottom:0pt;
			page-break-after:avoid
		}
